# ignore everything
*

# don't ignore the following:

# folders
!**/

# except these folders
venv/
env/

# files
!.gitignore
!.myfuncs
!Makefile
!requirements.txt
!Dockerfile
!ci-cd-project.png
!Jenkinsfile

# file types
!*.sh
!*.c
!*.h
!*.py
!*.md
!*.html
!*.yaml
!*.yml
!*.conf
!*.tf
